.khoi1{
    padding: 50px ;
#k11{
    .icon{
        list-style: none;
        width: 100px auto;
        float: left;
    }
    .text{float:left;padding: 20px;size: +3 auto;}
    
}
#k12{
    
    .icon1{
        list-style: none;
        padding: 20px;
        width: 100px;
        float: right ;
    }
    .text{float:right;padding:  20px;}
    .menu-p1{
        color: aqua;
        float: right ;
        a{text-decoration: none; padding: 10px;}
    }

}
#introduce{
    color: chartreuse;
    b{font-size: +2;}
}
}