@import url('https://fonts.googleapis.com/css?family=Baloo|Roboto|Open+Sans|Sniglet');
body,
html {
    height: 100%;
    margin: 0;
    color: white;
}

p {
    font-size: 1em;
    line-height: 1.3em;
    letter-spacing: 2px;
    font-family: 'Open Sans', sans-serif;
}

h1 {
    text-align: center;
    font-family: 'Baloo', cursive;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 0;
}

* {
    box-sizing: border-box;
}

.parallax {
    background-image: url("https://images.unsplash.com/photo-1619881589670-43629f0e90f1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OHx8bWNkb25hbGRzfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60");
    background-attachment: fixed;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 98%;
}

.cover-left {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 50px;
}

.cover-right,
.cover-left {
    padding: 25px;
    border-radius: 15px;
    background-color: rgba(72, 72, 72, 0.4);
}

.cover-right {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: auto;
    margin-right: 50px;
}

input:first-child {
    margin-right: 10px;
}

input {
    display: inline-block;
    margin-top: 10px;
    outline: none;
    border-radius: 8px;
    border: none;
    font-size: 1em;
    font-family: 'Sniglet', cursive;
    padding: 8px;
    color: #555;
    box-shadow: none;
}

.button {
    margin-top: 15px;
    display: block;
    width: 100%;
    color: #555;
    font-size: 1.5em;
    padding: 10px;
    background-color: rgb(255, 209, 26);
}

.button:hover {
    background-color: rgb(255, 204, 0);
}

fieldset {
    border: none;
}

@media screen and (max-width: 568px) {
    .parallax {
        height: 100%!important;
        background-attachment: initial !important;
        overflow: auto!important;
        min-height: 900px!important;
    }
}

@media screen and (max-width: 1023px) {
    .parallax {
        height: 700px;
    }
    input {
        display: block;
        width: 100%;
    }
    .cover-left,
    .cover-right {
        width: 100% !important;
        margin: 0 0 25px 0!important;
        background-color: rgba(72, 72, 72, 0.4) !important;
        position: relative !important;
        transform: none !important;
        top: 0 !important;
        padding: 15px !important;
    }
}

.content {
    padding: 35px;
    background-color: rgb(255, 209, 26);
    color: #555;
    font-weight: 700px;
    text-align: center;
}

.content p {
    width: 65%;
    margin: 0 auto;
}

@media screen and (min-width: 320px) and (max-width: 568px) {
    .content div {
        margin-bottom: 25px;
    }
}

